# Ansible generated wp_installs: {{ item|to_json }}

{% if item.ssl_only | default(False) %}
server {
  listen 80;
  server_name {{ item.url }} {{ item.alias | default("") }};
  location / {
    rewrite ^(.*)$ https://{{ item.url }}$1 permanent;
  }
}
{% endif %}
server {

  {% if not(item.ssl_only | default(False)) %}
  listen 80;
  {% endif %}
  {% if item.cert is defined %}
  listen       443 ssl;
  ssl_certificate {{ cert_directory }}/{{ item.cert }}.pem;
  ssl_certificate_key {{ cert_directory }}/{{ item.cert }}.key;
  {% endif %}

  server_name {{ item.url }} {{ item.alias | default("") }};
  access_log /var/log/nginx/{{ item.url }}.access.log;
  error_log /var/log/nginx/{{ item.url }}.error.log;
  root {{ item.path }};

  gzip_types text/plain text/xml application/xml text/css text/javascript application/javascript application/x-javascript text/x-component application/json application/xht
ml+xml application/rss+xml application/atom+xml application/vnd.ms-fontobject image/svg+xml application/x-font-ttf font/opentype;
  gzip_comp_level 1;
  gzip_vary on;

  location / {
    index index.php;
    try_files $uri $uri/ /index.php$is_args$args;
  }

  # Deny WordPress pingbacks, this was the cause of a ddos for us on 5/14/2014.
  # But allow WordPress POST's to itself
  if ($http_user_agent ~ ^WordPress/) {
      set $blockme "${request_method}";
  }
  if ($blockme = GET) {
      return 403;
  }

  # Add trailing slash to */wp-admin requests.
  rewrite /wp-admin$ $scheme://$host$uri/ permanent;
  rewrite /wp-admin/network$ $scheme://$host$uri/ permanent;

  # Directives to send expires headers and turn off 404 error logging.
  location ~* \.(js|css|png|jpg|jpeg|gif|ico|woff)$ {
      set $original_uri $uri;
      expires 24h;
      gzip on;
      log_not_found off;

  }

  # this prevents hidden files (beginning with a period) from being served
  location ~ /\. { access_log off; log_not_found off; deny all; }

  # Pass uploaded files to wp-includes/ms-files.php.
  rewrite /files/$ /index.php last;

  if ($uri !~ wp-content/plugins) {
      rewrite /files/(.+)$ /wp-includes/ms-files.php?file=$1 last;
  }

  location ~ \.php$ {
      client_max_body_size 25M;
      try_files      $uri =404;

      include        microcache_params;

      fastcgi_buffers 16 16k;
      fastcgi_buffer_size 32k;
      fastcgi_index  index.php;

      fastcgi_pass   unix:/var/run/php5-fpm/wordpress.sock;
  }
}
